
@import com.fasterxml.jackson.databind.JsonNode
@import java.lang.String
@(request: play.mvc.Http.Request, username: String, repositoryName: String)(implicit assetsFinder: AssetsFinder)

@main("Repository Profile") {

    <script type='text/javascript' src='https://code.jquery.com/jquery-3.3.1.min.js'></script>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>
    <html>

    </html>
    <body data-ws-url="@routes.GitterificController.ws(username, repositoryName).webSocketURL(request)" data-issueLink="@routes.GitterificController.getIssueStat(username + '/' + repositoryName)">
        <section id="top">
            <div class="wrapper">
                <h1>Gitterific</h1>
            </div>
        </section>
        <div style="margin-left: 5%; margin-right: 5%; margin-bottom: 1%; margin-top: 1%;">
            <div style="padding: 10px 0px;">
                <h3>Repository Profile Data for: <b>@repositoryName</b></h3>
            </div>
            <div id="time"> </div>
        </div>
    </body>

}

