
@import com.fasterxml.jackson.databind.JsonNode
@import java.lang.String
@(ownerName: String, repositoryName: String, repositoryProfileDetails: JsonNode, issueList: JsonNode)(implicit assetsFinder: AssetsFinder)

@walkJsonTree(name: String, node: JsonNode) = {
    @if(node.isObject()) {
        <ul>
            @for(nodeEntry <- node.fields()) {
            <li>
                <b>@nodeEntry.getKey(): </b>
                    @if(nodeEntry.getKey()=="login"){
                        <a href="@routes.GitterificController.getUserProfile(ownerName)">@walkJsonTree(nodeEntry.getKey(), nodeEntry.getValue())</a>
                    } else{
                        @walkJsonTree(nodeEntry.getKey(), nodeEntry.getValue())
                    }
            </li>
            }
        </ul>
    }
    @if(node.isArray()) {
        <ol>
            @for(arrayNode <- node.elements()) {
                <li><a href="@routes.GitterificController.getTopicRepository(arrayNode.asText())">@arrayNode.asText()</a>&nbsp;</li>
            }
        </ol>
    }

    @if(node.isValueNode()) {
        @node.asText()
    }
}

@listUserRepositories(list: JsonNode) = {
    @if(list.size() == 0){
        <li>No Issues Found</li>
    } else {
        @for(arrayNode <- list.elements()) {
            @if(arrayNode.asText() == "Issue does not Present!" || arrayNode.asText() == "Error! Repository does not present!"){
                <li>No Issues Found</li>
            } else {
                <li><a href="@routes.GitterificController.getIssueStat(ownerName + '/' + repositoryName)">@arrayNode.asText()</a></li>
            }
        }
    }
}




@main("Repository Profile") {
<section id="top">
    <div class="wrapper">
        <h1>Gitterific</h1>
    </div>
</section>
    <div style="margin-left: 5%; margin-right: 5%; margin-bottom: 1%; margin-top: 1%;">
        <div style="padding: 10px 0px;">
            <h3>Repository Profile Data for: <b>@repositoryName</b></h3>
        </div>
        <div>
            @walkJsonTree(null, repositoryProfileDetails)
        </div>
        <div id="repositories" style="padding: 10px 0px">
            <p><b>List to top @issueList.size() issues: </b></p>
            <p>@listUserRepositories(issueList)</p>
        </div>
    </div>
}

