@(repositorys: SearchRepository,style: String = "java")

@defining(play.core.PlayVersion.current) { version =>
<section id="top">
	<div class="wrapper">
		<h1>Gitterific</h1>
	</div>
</section>
	<div>
		@if(repositorys != null) {
		<h2 type="searchResult">Search topic: @repositorys.getQuery()</h2>
		<div style="margin-top: 3%">
			@for(repository <- repositorys.getRepositoryList()) {
			<div style="margin-bottom: 2%">
				<ul>
					<li><b>Owner Name:</b> <a href="@routes.UserProfileController.getUserProfile(repository.getOwnerName())">@repository.getOwnerName()</a> &nbsp; |
						&nbsp;<b> Repository Name:</b> <a href="@routes.RepositoryProfileController.getRepositoryProfile(repository.getOwnerName(), repository.getRepositoryName())">@repository.getRepositoryName()</a>
						@if(!repository.getTopics().isEmpty()){ &nbsp; | &nbsp; @for(topic
						<- repository.getTopics()) { <a href="@routes.TopicController.getTopicRepository(topic)">(@topic)</a>&nbsp; } }</li>
				</ul>
			</div>
			}
		</div>
		<hr />
		}
	</div>
</div>
}