@(listOfRepositories: SearchRepository,style: String = "java")

@defining(play.core.PlayVersion.current) { version =>
<section id="top">
	<div class="wrapper">
		<h1>Gitterific</h1>
	</div>
</section>
	<div>
		@if(listOfRepositories != null) {
			<h2 type="searchResult">Search topic: @listOfRepositories.getQuery()</h2>
			<div style="margin-top: 1.5%">
				@if(listOfRepositories.getRepositoryList().size()  > 0){
					@for(repository <- listOfRepositories.getRepositoryList()) {
						<div style="margin-bottom: 2%">
							<ul>
								<!-- Removed user profile link from href because it is no longer available after adding akka actors. A link for user profile should be added according to the new changes when working with actors for the topic feature. -->
								<li><b>Owner Name:</b> <a href="#">@repository.getOwnerName()</a> &nbsp; |
									&nbsp;<b> Repository Name:</b><!--Repository Profile Hyperlink deleted as it is deleted from the controller, hyperlink is to be added-->
									@if(!repository.getTopics().isEmpty()){ &nbsp; | &nbsp; @for(topic
									<- repository.getTopics()) { <a href="@routes.GitterificController.getTopicRepository(topic)">(@topic)</a>&nbsp; } }</li>
							</ul>
						</div>
					}
				} else{
					<p><b>No Results found</b></p>
				}
			</div>
			<hr />
		}
	</div>
</div>
}