@(username: String)(userProfile: com.fasterxml.jackson.databind.JsonNode, userRepositories: com.fasterxml.jackson.databind.JsonNode)(implicit assetsFinder: AssetsFinder)

@import com.fasterxml.jackson.databind.JsonNode;

@displayUserProfile(name: String, node: JsonNode) = {

    @if(node.isObject()) {
    <ul>
        @for(nodeEntry <- node.fields()) {
            <li>@nodeEntry.getKey(): @displayUserProfile(nodeEntry.getKey(), nodeEntry.getValue())</li>
        }
    </ul>
    }
    @if(node.isValueNode()) {
        @node.asText()
    } else {
        @* other *@
        @node.asText()
    }
}

@listUserRepositories(node: JsonNode) = {
    @if(node.isArray()) {
        @if(userRepositories.size() > 0) {
            <p>@userRepositories.size() repositories available for this user.</p>
            @for(arrayNode <- node.elements()) {
                <li><a href="@routes.GitterificController.getRepositoryProfile(username, arrayNode.asText())">@arrayNode.asText()</a></li>
            }
        } else {
            <p>No public repositories available for this user.</p>
        }
    } else {
        <p>No repositories available for this username.</p>
    }
}

@main("User Profile") {
    <section id="top">
        <div class="wrapper">
            <h1>Gitterific</h1>
        </div>
    </section>
    <div style="margin-left: 5%; margin-right: 5%; margin-bottom: 1%; margin-top: 1%;">
        <div id="user-info" style="padding: 10px 0px">
            <p>User profile information for @username:</p>
            <p>@displayUserProfile(null, userProfile) </p>
        </div>
        <div id="user-repositories" style="padding: 10px 0px">
            <p>@username's repositories:</p>
            <p>@listUserRepositories(userRepositories)</p>
        </div>
    </div>
}
