@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(request: play.mvc.Http.Request, title: String)(content: Html)(implicit assetsFinder: AssetsFinder)

<!DOCTYPE html>
<html lang="en">
    <head>
        @* Here's where we render the page title `String`. *@
        <title>@title</title>
        <script type='text/javascript' src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script type='text/javascript' src='@routes.Assets.at("javascripts/index.js")'></script>
        <link rel="stylesheet" media="screen" href="@assetsFinder.path("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@assetsFinder.path("images/favicon.png")">
        <!--script src="@assetsFinder.path("javascripts/hello.js")" type="text/javascript"></script-->
    </head>
    <body id="gitterific-home" data-ws-url="@routes.GitterificController.ws.webSocketURL(request)">
        @* And here's where we render the `Html` object containing
         * the page content. *@
        @content
        <div>
            <section id="top">
                <div class="wrapper">
                    <h1>Gitterific</h1>
                </div>
            </section>
            <div style="margin-left: 18%; margin-right: 18%; margin-bottom: 1%; margin-top: 1%;">
                <div style="padding: 10px 0px; text-align: center">
                    <form name="searchForm" id="searchGitHubForm" action="/" method="GET">
                        <input type="search" id="searchField" name="search" value=""
                               placeholder="Enter Search Terms" />
                        <button type="submit">Go!</button>
                    </form>
                </div>
                <div id="all-search-results" class="container"></div>

                <div id="user-profile-info"></div>

                <div id="repository-profile-info"></div>
                
                <div id="issues-stat-info"></div>
            </div>
        </div>
    </body>
</html>
