@(cacheResult: SearchCacheStore, style: String = "java")

<script lang="text/javascript">
	function validateForm() {
	  var x = document.forms["searchForm"]["search"].value;
	  if (x == "") {
		alert("Please enter a string to be searched.");
		return false;
	  }
	  else{
	  		document.forms["searchForm"]["search"].value = x.toLowerCase();
	  }
}
</script>

<section id="top">
	<div class="wrapper">
		<h1>Gitterific</h1>
	</div>
</section>
<div
		style="margin-left: 18%; margin-right: 18%; margin-bottom: 1%; margin-top: 1%;">
	<div style="padding: 10px 0px; text-align: center">
		<form name="searchForm" onsubmit="return validateForm()" id="form" action="/" method="GET">
			<input type="search" id="searchField" name="search" value=""
				   placeholder="Enter Search Terms" />
			<button type="submit">Go!</button>
		</form>
	</div>
	<div>
		@if(cacheResult != null) {
			@for(repositoryList <- cacheResult.getSearches()){
				<h2 type="searchResult">Search terms: @repositoryList.getQuery()</h2>
				<div style="margin-top: 3%">
					@if(repositoryList.getRepositoryList().size()  > 0){
						@for(repository <- repositoryList.getRepositoryList()) {
							<div style="margin-bottom: 2%">
								<ul>
									<li> <b> Repository Name:</b> <a href="@routes.GitterificController.getRepositoryProfile(repository.getOwnerName(), repository.getRepositoryName())">@repository.getRepositoryName()</a> &nbsp; |
										&nbsp; <b>Owner Name:</b> <a href="@routes.GitterificController.getUserProfile(repository.getOwnerName())">@repository.getOwnerName()</a>
										@if(!repository.getTopics().isEmpty()){ &nbsp;  | <b> Topic List:</b> &nbsp; @for(topic
										<- repository.getTopics()) { <a href="@routes.GitterificController.getTopicRepository(topic)">(@topic)</a>&nbsp; } }
									</li>

								</ul>
							</div>
						}
					} else{
						<p><b>No Results found</b></p>
					}
				</div>
				<hr />
			}
		}
	</div>
</div>

